<title>League of Feeders</title>
<!-- Main css  -->
<link rel="stylesheet" href="/stylesheets/league.css">
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<!-- Riot Games api functions -->
<script src="/javascript/feeder.js"></script>
