body {
  text-align: center;
  background-image: url("/img/background.jpg");
  color: white;
  margin: 0px;
}
header {
  background-color: black;
  border: 5px solid black;
  border-bottom-color: gold;
  height: 80px;
  margin-bottom: 10px;
  text-align: left;
}
header span {
  margin-left: 25px;
  border: 2px solid gold;
  background-color: green;
  padding: 15px;
}
header span:hover {
  padding-bottom: 25px;
  transition: 1s;
}
#top {
  background-color: #3c3a3a;
  height: 15px;
  position: relative;
}
#mainhead {
  border: 2px solid black;  
  border-radius: 5%;
  background-color: black;
  height: 25em;
  padding-bottom: 25px;
}
#headbord {
  background-color: gold;
  border-radius: 5%;
  padding: 5px;
  width: 60%;
  margin: 0 auto;
}
#sumID{
  border: 2px solid gold;
  text-align: center;
  margin: 15px;
  height: 5%;
}
#message {
  padding-top: 15px;
  font-size: 25px;
}
#message2 {
  font-size: 20px;
}
#subbutt {
  background-color: green;
  border: 2px solid black;
  border-radius: 20%;
  padding:10px;
  color:white;
  font-family: sans-serif;
  font-size: 20px;
}
#subbutt:hover {
  background-color: red;
  transition: 1s;
  font-size: 25px;
}
#feeddef {
  max-width: 50%;
  float:right; 
  padding-right: 10px;
}
.feedic {
  display: inline;
  float: right;
  padding-right: 20px;
}
.feedic:hover {
  width: 5%;
}
#defbox {
  border: solid 5px gold;
  border-radius: 5%;
  background-color: #09149a;
  padding: 5px;
}
