<!DOCTYPE html>
<html>
<head>
  <title>League of Feeders</title>
  <link rel="stylesheet" href="/stylesheets/league.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="/javascript/league.js"></script>
</head>
<body> 
  <header>  
    <h1>Welcome to the League of Legends feeder page </h1>
    <p>Search a summoner name to find out if they are a feeder or not</p>
    <br><p><small>FEEDING = INTENTIONALLY SACRIFICING ONES SELF TO THE OPPOSING TEAM TO INCREASE THEIR GOLD AND XP GAINED, ALLOWING THEM TO BECOME STRONGER QUICKER</small></p>
    <br/>
    <input type="text" id="sumID">
    <br>
    <input id="subbutt" type="submit" value="Feeds?"" onclick="summonerLookUp();"/>
    <br/>
    <div id="message"></div>
    <br>
    <div id="message2"></div>
  </header>
</body>
</html>
