<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <script src="/javascript/feeder.js"></script>

</head>
<body> 
  <% include ../partials/header %>

  <div id='headbord'>
    <div id="mainhead">  
      <h1>Welcome to the League of Legends feeder page </h1>
      <p>Search a summoner name to find out if they are a feeder or not</p>
      <br/>
      <input type="text" id="sumID">
      <br>
      <input id="subbutt" type="submit" value="Feeds?"" onclick="summonerLookUp();"/>
      <br/>
      <div id="message"></div>
      <br>
      <div id="message2"></div>
      <img src='/img/teemo.png' class="feedic">
      <p id="feeddef">What is a feeder?</p>
      <br>
    </div>
  </div>
</body>
</html>
