<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
<script src="/javascript/rankings.js"></script>
</head>
<body>
  <% include ../partials/header %>
  <div id='headbord'>
    <div id="mainhead">  

        <div id="sum1">
          <h2 id="name1"></h2>
          <div id="sum1icon"></div>
        </div>

        <div id="sum2">
          <h2 id="name2"></h2>
          <div id="sum2icon"></div>
        </div>

    </div>
  </div>

</body>
</html>