<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div id='headbord'>
    <div id="mainhead">  
      <p>WIP</p>
    </div>
  </div>

</body>
</html>